* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  font-size: 100%;
  background: #fbfcfd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

main {
  border: 0.125rem solid #ff5a00;
  border-radius: 0.25rem;
  background: #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  margin-top: 0;
  color: #ff5a00;
}

p {
  margin: 0 0 3rem 0;
}

label {
  display: block;
  margin-bottom: 1rem;
}

input[type='text'] {
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  border: 0.0625rem solid #071a32;
  border-radius: 0.25rem;
  background: #fff;
  color: #071a32;
  position: relative;
  text-align: center;
  display: block;
  margin-bottom: 1rem;
}

input[type='text']:focus,
input[type='text']:hover {
  outline: none;
  border: 0.0625rem solid #071a32;
  border-bottom: 0.25rem solid #ff5a00;
  padding: 0.5rem 0.5rem 0.3125rem 0.5rem;
}

button {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  border-radius: 0.5rem;
  border: none;
  background: #ff5a00;
  color: #fff;
  cursor: pointer;
  position: relative;
  max-width: 18rem;
  word-break: break-word;
  word-wrap: break-word;
  transition: all 0.5s;
}

button:focus,
button:hover {
  outline: none;
}

button:focus::before,
button:hover::before {
  box-shadow: #ff5a00 0 0 0 0.0625rem;
  content: '';
  height: calc(100% + 0.25rem);
  left: 0;
  margin-left: -0.25rem;
  margin-top: -0.25rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: calc(100% + 0.25rem);
  border-radius: inherit;
  padding: 0.125rem;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hidden {
  display: none;
}

#result {
  background: rgb(255, 90, 0, 0.2);
  padding: 1rem;
  border: solid 1px rgb(255, 90, 0);
  border-radius: 0.25rem;
  width: 100%;
  margin-top: 2rem;
}
